<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<style>
img {
	max-width: 100%;
}
		@media only screen and (max-width: 600px) {
			.wrapper {
				width: 100% !important;
			}
		}
		</style>
	</head>
	<body style="margin:0;">
		<table class="wrapper" width="600" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td class="container" style="background-color:#FFFFFF">
					<table width="100%" cellpadding="10" cellspacing="0">
						<tr>
							<td>
								王様の耳はロバの耳にご登録いただきありがとうございます!!
								現在、お客様は仮登録まで完了している状態です。
								以下のトークンURLにアクセスしていただくと、本登録が完了します!!
								{{ .Token }}
								王様の耳はロバの耳開発室
								bamchoh@gmail.com
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
