<!doctype html>
<html lang="en">
	{{template "header.tmpl.html"}}
	<body class="text-center">
		<!-- Custom styles for this template -->
		<link href="/static/css/signup.css" rel="stylesheet">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">The King Has Donkey Ears</a>
		</nav>

		<div class="div-body">
			<form class="form-signup" method="POST" action="/signup">
				<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
				<label for="inputID" class="sr-only">ID</label>
				<input type="text" name="id" id="inputID" class="form-control" placeholder="ID" required autofocus>
				<label for="inputName" class="sr-only">Name</label>
				<input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
				<label for="inputPassword" class="sr-only">Confirm Password</label>
				<input type="password" name="confirmpassword" id="confirmPassword" class="form-control" placeholder="Password" required>
				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			</form>
		</div>
	</body>
</html>
